LM/T6/Ejercicios/EjsModeloExamen/Ej2/val.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="tipoDificultad">

        <xs:restriction base="xs:string">
            <xs:enumeration value="facil"/>
            <xs:enumeration value="medio"/>
            <xs:enumeration value="dificil"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoTipo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="basico"/>
            <xs:enumeration value="especiado"/>
            <xs:enumeration value="guarnicion"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="receta">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="ingredientes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="ingrediente" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="cantidad" type="xs:double"/>
                                        <xs:element name="unidad" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID"/>
                                    <xs:attribute name="tipo" type="tipoTipo" default="basico"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="elaboracion">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="paso" maxOccurs="unbounded" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="tiempoElaboracion" type="xs:integer"/>
                <xs:element name="etiqueta" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute name="tipo" type="xs:string"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
            <xs:attribute name="codigo" type="xs:ID"/>
            <xs:attribute name="nombre" type="xs:string"/>
            <xs:attribute name="dificultad" type="tipoDificultad" use="optional"/>
        </xs:complexType>
    </xs:element>
</xs:schema>