LM/T6/Ejercicios/Ej5/reglas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Definición de tipos simples personalizados-->
    <xs:simpleType name="tipoNivel">
        <xs:restriction base="xs:string">
            <xs:enumeration value="principiante"/>
            <xs:enumeration value="intermedio"/>
            <xs:enumeration value="avanzado"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tipoDuracion">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value="200"></xs:maxInclusive>
            <xs:minInclusive value="10"></xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:element name="plataforma">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cursos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="curso" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="titulo" type="xs:string"/>
                                        <xs:element name="descripcion" type="xs:string"/>
                                        <xs:element name="duracion" type="tipoDuracion"/>
                                        <xs:element name="nivel" type="tipoNivel"/>
                                        <xs:element name="precio" type="xs:double"/>
                                        <xs:element name="fechaInicio" type="xs:date"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:ID"></xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="estudiantes">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="estudiante">
                                <xs:complexType>
                                    <xs:sequence>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>